<%
  rootPath = './'

  include(rootPath + '_inc/_vars')

  var SCOPE = 'home'

  var sketchList = [
    {
      href: '/bound/',
      ttl: 'Gravity',
      desc: '重力'
    },
    {
      href: '/attraction/',
      ttl: 'Particle',
      desc: '引力・斥力'
    },
    // {
    //   href: '/spring/',
    //   ttl: 'Particle',
    //   desc: '万有引力'
    // },
    {
      href: '/sphere/',
      ttl: 'Sphere',
      desc: '球体'
    },
    // {
    //   href: '/spring/',
    //   ttl: 'Spring',
    //   desc: '弾力'
    // },
    {
      href: '/metaball/',
      ttl: 'Metaball',
      desc: 'メタボール'
    },
    {
      href: '/flag/',
      ttl: 'Texture',
      desc: '旗'
    },
    // {
    //   href: '/wave/',
    //   ttl: 'Wave',
    //   desc: '波'
    // }
  ]

-%>

<%- include(rootPath + '_inc/_top') -%>

<div class="page" role="main">

  <h1 class="u-sr-only">SKETCH THREEJS</h1>

  <div class="u-mt-32">
    <ul class="<%= SCOPE %>-sketchList">
      <% sketchList.forEach((i, index) => { %>
      <li>
        <a
          href="<%= i.href %>"
          class="u-relative u-inline-block"
          data-module="Hover"
        >
          <h2><%- i.ttl %></h2>
          <div
            class="<%= SCOPE %>-sketchHoverElement _bg"
            role="presentation"
          ></div>
          <p class="<%= SCOPE %>-sketchHoverElement"><%- i.desc %></p>
        </a>
      </li>
      <% }); %>
    </ul>
  </div>

</div>

<%- include(rootPath + '_inc/_bottom') -%>
